*{
  margin: 0;
  padding: 0;
  border-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif ;
}
p{
  word-wrap: break-word;
  font-size: 14px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.head{
  width: 100%; 
  padding: 0 120px;
  display: flex;
  color: black;
  font-family:  "Montserrat", Sans-serif;
  text-transform: uppercase;
}
.left-head,.right-head{
  flex: 50%;
  height: 70px;
  padding: 10px;  
  line-height: 50px;
}
.left-head a{
  text-decoration: none;
  font-size: 26px;
  transition:  .3s;
}
.left-head a:hover{
  font-size: 30px;
}
li{
  list-style: none;
}
.right-head ul{ 
  display: flex;
  justify-content: flex-end;
}
.right-head ul li{
  margin-left: 30px;
}
.right-head a{
  text-decoration: none;
  font-size: 15px;
}

/*slideshow*/
.mySlides {display: none}
.mySlides img {
  width:100%;
  height: 100%;
  vertical-align: middle;
}
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.prev,.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,.next:hover {
  background-color: rgba(0,0,0,0.8);
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*content*/
.content{
  width: 100%;
  background-color: white;
}
.upper-content{
  padding: 40px;
  background-color: #e6fff2;
}
#course_container{
  display: flex;
  flex-wrap: nowrap;
}
.course_item{
  text-align: center;
  flex: 33%;
}
.course_img{
  width: 90%;
}
.course_title{
  font-size: 150%;
  font-weight: bold;
  padding: 10px 10px 5px 10px;
}
.course_desc{
  margin: 0px 10px 20px 10px;
}
.under-content{
  vertical-align: center;
  padding: 25px 200px;
  display:  block;
}
.under-content h2,.under-content h3 {
  color:#4d9900;
}
.under-content h4{
  color: gray;
}
.under-content-intro{
  margin-top  : 10px ;
  text-align:   center;
  word-wrap: break-word;
}   
.under-content-intro img{
  border-radius: 50%;
  margin-bottom:  12px;
  width:  180px;
  height:   180px;
}
.under-content-post{
  margin-top  : 50px;
} 
.post{
  font-size: 24px;
  text-align: center;
  border: 1px solid gray;
  height: 44px;
  line-height: 44px;
  width: 100%;
}
.under-content-inform{
  margin-top  : 50px;
}
.inform{
  text-align: left;
  width: 100%;
}
#name{
  height:34px;
  width: 100%;
  line-height: 34px;
  border: none;
  background-color: #f5f6f6;
  margin-bottom: 10px;
  resize:   none;
  outline:  none;
}
.btnSubmit{
  text-align: right;
}
.btnSubmit input[type=submit]{
  margin-top: 5px;
  padding:  10px 15px;
  border:   none;
  outline:  none;
  text-transform:  uppercase;
  font-size: 16px;
  font-weight: bold;
  cursor:   pointer;
  color:  gray;
}
#submit{
  cursor: pointer;
}
.right-content-connect{
  margin-top  : 50px;
}
.connect{
  font-size: 24px;
  text-align: center;
  border: 1px solid gray;
  height: 44px;
  line-height: 44px;
  width: 100%;
}
.connect a{
  margin: 10px;
}
.fab,.fas{
  color: #404040;
}

/*footer*/
.foot{
  width: 100%;
  background-color: #001a0d;
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: fantasy;
  color: white ;
  line-height: 30px;
}
.foot a{
  color: white;
}

/*fit another device*/
@media(max-width: 800px){
  .left-content{
    flex: 100%;
  }
  .right-content{
    flex: 100%;
  }
  .content{
    flex-wrap: wrap;
  }
  .read_item{
    flex: 50%;
  }
}
@media(max-width: 400px){
  .content{
    flex-wrap: wrap;
  }
  .read_item{
    flex: 100%;
  }
}